body {
    background-image: url(https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
}

.container {
    background-color: #444444;
    width: 80%;
    margin: 0px auto;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
}

.heading_text {
    text-align: center;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 50px;
    object-fit: cover;
    padding: 20px;
    opacity: 0.8;
}

img:hover {
    opacity: 1;
}